:local(.categoryItem) {
  .title {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
  }
  
  h4 {
    cursor: pointer;
    font-size: 1.3em;
    margin: 0;
  }

  p {
    justify-self: flex-end;
    margin: 10px 0px;
  }
}