:local(.app) {
  text-align: center;
  margin: 0;
  background: #FFFF64;
  width: 100%;
  
  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    margin: 0;
  }

  button {
    border: 1px solid grey;
    background: #B4FFB4;
  }

  i {
    color: #FF96DC;
  }
}